<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TDL</title>
    <link rel="stylesheet" href="css/global.css">
</head>

<body class="id-<%= locals.pageID || 'none' %>" data-pageid="<%= locals.pageID %>">
    <%- include('header') %>
    <div class="main-container">
        <div id="notes-container">
            <div class="note-controls">
                <h1 class="center noselect">Your notes</h1>
                <input type="button" id="new-note" class="btn1" value="New note">
            </div>
            <div id="note-container-items">
                <% for(note of locals.notesData) { %>
                    <div class="note-element" data-nid="<%= note.ID %>">
                        <h1 class="note-banner noselect" data-nid="<%= note.ID %>">
                            <div class="note-banner-title" data-nid="<%= note.ID %>"><%= note.title %></div>
                            <div class="edit-controls-container">
                                <img src="/img/edit-icon.png" data-nid="<%= note.ID %>" class="edit-note-x noselect" alt="Edit note" title="Edit" draggable="false">
                                <img src="/img/exit-icon.png" data-nid="<%= note.ID %>" class="delete-note-x noselect" alt="Delete note" title="Remove" draggable="false">
                            </div>
                        </h1>
                        <pre class="note-content"><%= note.content %></pre>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('footer') %>
    <div id="modal-layer">

        <div class="modal-window" data-name="new-note">
            <div class="modal-window-header">
                <div class="modal-window-close">
                    <img src="/img/exit-icon.png" class="modal-window-x" title="Close window" data-name="new-note">
                </div>
            </div>
            <div class="modal-window-content">
                <h1 class="noselect">Create new note</h1>
                <div class="wrapper mb-2">
                    <input type="text" class="input" id="note-name" maxlength="255" placeholder="Note name">
                </div>
                <div class="wrapper mb-2">
                    <textarea class="input" id="note-description" maxlength="65535" placeholder="Details" spellcheck="false"></textarea>
                </div>
                <input type="button" class="btn1" id="create-note" value="Create">
            </div>
        </div>

        <div class="modal-window" data-name="new-note-ok">
            <div class="modal-window-header">
                <div class="modal-window-close">
                    <img src="/img/exit-icon.png" class="modal-window-x" title="Close window" data-name="new-note-ok">
                </div>
            </div>
            <div class="modal-window-content">
                <h1 class="noselect">Note has been added successfully!</h1>
                <input type="button" class="btn1 ok-btn" data-name="new-note-ok" value="OK">
            </div>
        </div>

        <div class="modal-window" data-name="note-confirm-remove">
            <div class="modal-window-header">
                <div class="modal-window-close">
                    <img src="/img/exit-icon.png" class="modal-window-x" title="Close window" data-name="note-confirm-remove">
                </div>
            </div>
            <div class="modal-window-content">
                <h1 class="noselect">Are you sure?</h1>
                <div class="noselect">
                    <input type="button" class="btn1 bool-btn" id="remove-note-yes" data-nid="null" value="Yes">
                    <input type="button" class="btn1 bool-btn" id="remove-note-no" value="No">
                </div>
            </div>
        </div>

        <div class="modal-window" data-name="edit-note">
            <div class="modal-window-header">
                <div class="modal-window-close">
                    <img src="/img/exit-icon.png" class="modal-window-x" title="Close window" data-name="edit-note">
                </div>
            </div>
            <div class="modal-window-content">
                <h1 class="noselect">Edit <span id="edit-note-title"></span></h1>
                <div id="edit-note-name-container" class="mb-2">
                    <input type="text" class="input" id="edit-note-name" maxlength="255" placeholder="Note name">
                </div>
                <textarea class="input" id="edit-note-description" maxlength="65535" placeholder="Details" spellcheck="false"></textarea>
                <input type="button" id="edit-note-save" data-nid="" class="btn1" value="Save">
            </div>
        </div>

        <div class="modal-window" data-name="show-note-details">
            <div class="modal-window-header">
                <div class="modal-window-close">
                    <img src="/img/exit-icon.png" class="modal-window-x" title="Close window" data-name="show-note-details">
                </div>
            </div>
            <div class="modal-window-content">
                <h1 id="sd-note-title"></h1>
                <div id="sd-note-description"></div>
            </div>
        </div>

    </div>
    <div class="hidden notes-data"><%= JSON.stringify(locals.notesData) %></div>
    <script src="js/TODO.js"></script>
    <script src="js/TODODB.js"></script>
    <script src="js/global.js"></script>
</body>

</html>